<h2 style="text-align:center;">Edit <%= @memory.name %></h2>
<%= simple_form_for [:admin, @memory], :url => admin_update_memory_path do |f| %>
  <%= f.error_notification %>
  <div class="row">
  	<div class="col-md-6">
    	<%= f.input :name, placeholder: 'Name' %>
	</div>
    <div class="col-md-6">
    	<%= f.input :location, placeholder: 'Location' %>
    </div>
</div>
 <div class="row">
    <div class="col-md-6">
      <%= f.input :longitude, placeholder: 'Long' %>
  </div>
    <div class="col-md-6">
      <%= f.input :latitude, placeholder: 'Lat' %>
    </div>
</div>
    <%= f.input :content, placeholder: 'Description', as: :bootsy %>

    <%= f.simple_fields_for @image do |i| %>
    	<%= i.file_field :image, :label => "Upload an image" %>
    <% end %>
  <div class="form-actions">
    <%= f.button :submit, "Update memory" %>
  </div>
<% end %>