<h2>Create a new memory</h2>
<%= simple_form_for [:admin, @memory], :url => admin_memories_create_path do |f| %>
  <%= f.error_notification %>
    <div class="row">
	  	<div class="col-md-6">
	    	<%= f.input :name, placeholder: 'Name' %>
		</div>
	    <div class="col-md-6">
	    	<%= f.input :location, placeholder: 'Location' %>
	    </div>
	</div>
    <%= f.input :content, placeholder: 'Description' %>
  <div class="form-actions">
    <%= f.button :submit, "Create memory" %>
  </div>
<% end %>