<h1 style="text-align: center;"><%= memory.name %></h1>
<div style="text-align: center; padding-bottom: 25px; border-bottom: solid 1px #eeeeee;">
	<%= memory.content.html_safe %>
</div>
</br>
<div class="row">
  <div class="col-md-6" style="text-align: center;">
   <% if memory.memory_images.any? %> <!-- Add in logic that doesn't render carousel if there's only one image. -->
			<% if memory.memory_images.count > 1 %>
		    	<%= render 'memory_image_carousel' %>
			<% else %>
				<img class="img-responsive" src="<%= memory.memory_images.first.image.url %>"> 
			<% end %>
	<% end %>
    </div>
  <div class="col-md-6">
    <div style="width: 100%;height: 500px" id="map"></div>
  </div>
</div>
<div class="row memory-nav">
	<%= render 'memory_nav' %>
</div>


<script>
$(document).ready(function() {
  L.mapbox.accessToken = 'pk.eyJ1Ijoia2V2aW5qY29sZW1hbjciLCJhIjoiY2lrN29mcWRlMDIybXVua3RyY2VjcGZqaiJ9.G8ZC3oCreukIyVHftgWXCQ';
  var map = L.mapbox.map('map', 'kevinjcoleman7.p3ocd38h').setView([<%= memory.latitude %>, <%= memory.longitude %>], 15 );
  var myLayer = L.mapbox.featureLayer().addTo(map);
  myLayer.on('layeradd', function(e) {
    var marker, popupContent, properties;
    marker = e.layer;
    properties = marker.feature.properties;
    popupContent = '<div class="popup"><h3>' + properties.name +'</h3>' + '</div>';
    return marker.bindPopup(popupContent, {
      closeButton: false,
      minWidth: 300
    });
  });
  $.ajax({
    dataType: 'text',
    url: '/memories/<%= memory.id %>.json',
    success: function(data) {
      var geojson;
      geojson = $.parseJSON(data);
      return myLayer.setGeoJSON(geojson);
    }
  });
});
</script>